<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{__STATIC__}/css/style.css">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1576261_xok8zgymf7.css">
  <title>王晨宇的主页</title>
</head>
<body>
  <div class="card-container">
    <div class="image-wrapper">
      <img src="{__STATIC__}/images/image01.jpg" >
    </div>
    <div class="title-wrapper">
      <h1 class="title">王晨宇的个人空间</h1>
      <p class="subtitle">常静可爱捏</p>
      <hr>
      <div class="icon-btns">
        <ul>
          <li><a href="https://space.bilibili.com/27583126?spm_id_from=333.1007.0.0" target="_blank"><img src="{__STATIC__}/icon/bilibili.png" title="我的哔哩哔哩主页" alt="" width="25px" height="25px"></a></li>
          <li><i class="iconfont phs-twitter"></i></li>
          <li><i class="iconfont phs-facebook"></i></li>
          <li><i class="iconfont phs-Instagram"></i></li>
          <li><i class="iconfont phs-email"></i></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>